body {
color: aliceblue;
background: rgb(78, 234, 255);
margin: 0px;
font-family:"chakra Petch", sans-serif;
}

header {
border-bottom: solid 2px rgb(118, 108, 248);
padding:  25px;
font-size: 32px;
color: rgb(250, 145, 145);
}

section {
    background: rgba(236, 230, 44, 0.51);
padding-bottom: 88px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

P{
    font-size: 20px;
}
img{
    height: 200px;
}
.categotia {
    padding-left: 20px;
    padding-right:  20px;
}
.categoria-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
 categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
 }

 categotia-videos img {
    opacity: 0.5;
    height: 200px;
 }
 categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(92, 189, 92);
 }
 categoria hr{
color:rgb(0, 255, 170)

 }